@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss';

:root {
  background: #1e293b; /* slate-800 */
}

html {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  color: seashell;
}

.sg-container {
  @apply max-w-[1440px] mx-auto px-1 md:px-2;
}

.btn-generic {
  @apply cursor-pointer border border-blue-500 rounded-lg p-2 bg-sky-600 hover:bg-sky-700;
}

.form-input {
  @apply w-full p-2 rounded-lg border border-slate-600 placeholder:text-slate-400 text-slate-300;
}
