.container {
  position: relative;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 20px;
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.button {
  width: 3rem;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border-radius: 10px;
  background-color: transparent;
}
