.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

a {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
}

a:hover {
  background-color: var(--color-sky);
}

a.active_link {
  background-color: var(--color-sky);
}

a.inactive_link {
}
