@import "./variables.css";

body {
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-text);
  font-family: var(--font-main);
}

h1, h2, h3, h4, h5{
    font-family: var(--font-heading);
}