PORT=3003
NODE_ENV=development

FRONTEND_URL=http://localhost:3000

CORS_ORIGINS=http://localhost:3000,https://your_domain.com

SWAGGER_ENABLED=false
DB_SYNC=false

DB_NAME=database_name
DB_USER=root
DB_PASS=strong_123
DB_HOST=localhost
DB_PORT=3306
DB_ROOT_PASS=change_me_root_password

JWT_ACCESS_SECRET=change_me_to_random_32_chars
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_SECRET=change_me_to_random_32_chars
JWT_REFRESH_EXPIRES_IN=7d

JWT_RESET_SECRET=change_me_to_random_32_chars
JWT_RESET_EXPIRES_IN=2m

MAIL_HOST=mail.example.com
MAIL_PORT=465
MAIL_USER=info@example.com
MAIL_PASS=change_me_mail_password
MAIL_SECURE=true

CONTACT_TO_EMAIL=admin@example.com

TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=/auth/google/callback
